<h1>RESULTADO DE LA LOTERIA</h1>
<button (click)="numero1.obtenAleatorio();numero2.obtenAleatorio()">Generar</button>
<app-generar-loteria #numero1></app-generar-loteria>
<app-generar-loteria #numero2></app-generar-loteria>
<p>El número ganador es: {{numero1.digito}}{{numero2.digito}}</p>
<p *ngIf ="numero1.digito==numero2.digito; else manolo">PREMIO</p>
<ng-template #manolo><p>SIGUE JUGANDO</p></ng-template>
<app-generar-loteria entrada = "1234"></app-generar-loteria>
<app-generar-loteria [objetoEntrada] = objeto></app-generar-loteria>