.jumbotron {
    align-content: center;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(3deg, rgba(255,255,255,1) 0%, rgba(0,255,255,1) 35%, rgba(0,0,255,1) 100%);
}

#container {
    text-align: justify;
    border: double;
    border-color: mediumaquamarine;
}
ul {
    list-style-type: square;
    color: maroon;
}   
h1 {
    font-style: italic;
    color:olive;
}