<p>Convertir a mayúsculas: {{usuario |uppercase}}</p>
<p>Convertir a minúsculas: {{usuario |lowercase}}</p>
<p>La primera letra de cada palabra en mayúsculas: {{texto |titlecase}}</p>
<p>Fecha: {{fecha |date}}</p>
<p>Fecha editada: {{fecha|date:"dd/MM/yyyy"}}</p>
<p>Hora: {{fecha|date:"hh:mm:ss"}}</p>
<p>Dinero: {{dinero|currency:"EUR"}}</p>
<p>Número redondeado: {{numero_pi|number:".3"}}</p>
<p>Seleccionar elementos de un array: {{preposiciones|slice:2:5}}</p>
<p>Convertir objeto a formato json: {{usuarios|json}}</p>
<p>El cuadrado del 5: {{5|numeros:"cuadrado"}}</p>
<p>La raíz del 81: {{81|numeros:"raiz"}}</p>
<p>8 en letras: {{8|numeros:"aletras"}}</p>
Introduce tu DNI: <input type="number" placeholder="DNI" [(ngModel)] = "dni">
<p>El dni con letra es {{dni |dni}}</p>