.form {
    text-justify: auto;
    border:dotted;
    border-color: rgba(180, 28, 28, 0.993);
}

.container {
    align-content: center;
    border: groove;
    border-color: royalblue;
}

.alert {
    color: red;
}

table {
    text-justify:inherit;
    border:groove;
    border-color: maroon;
}
thead{
    background-color: aqua;
}